In [1]:
from nba_api.stats.endpoints import playercareerstats

# Nikola Jokić
career = playercareerstats.PlayerCareerStats(player_id='203999') 

# pandas data frames
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203999,2015-16,00,1610612743,DEN,21.0,80,55,1733.0,307,...,0.811,181,379,560,189,79,50,104,208,796
1,203999,2016-17,00,1610612743,DEN,22.0,73,59,2038.0,494,...,0.825,212,506,718,359,61,55,171,214,1221
2,203999,2017-18,00,1610612743,DEN,23.0,75,73,2443.0,504,...,0.850,195,608,803,458,90,61,210,212,1385
3,203999,2018-19,00,1610612743,DEN,24.0,80,80,2504.0,616,...,0.821,228,637,865,580,108,55,248,228,1604
4,203999,2019-20,00,1610612743,DEN,25.0,73,73,2335.0,565,...,0.817,166,545,711,512,85,44,226,222,1456
5,203999,2020-21,00,1610612743,DEN,26.0,72,72,2488.0,732,...,0.868,205,575,780,599,95,48,222,192,1898
6,203999,2021-22,00,1610612743,DEN,27.0,74,74,2476.0,764,...,0.810,206,813,1019,584,109,63,281,191,2004
7,203999,2022-23,00,1610612743,DEN,28.0,69,69,2323.0,646,...,0.822,167,650,817,678,87,47,247,174,1690

In [2]:
from nba_api.stats.endpoints import playercareerstats
import pandas as pd

In [4]:
from nba_api.stats.endpoints import commonallplayers
from nba_api.stats.endpoints import playercareerstats
import pandas as pd

# Fetch all players data
all_players = commonallplayers.CommonAllPlayers().get_data_frames()[0]

# Filter for players who are currently active
active_players = all_players[all_players['TO_YEAR'] == '2023'] 

# Initialize an empty DataFrame to hold all player stats
all_player_stats = pd.DataFrame()

# Fetch career stats for each active player
for index, player in active_players.iterrows():
    print(f"Fetching data for {player['PLAYER_NAME']}...")
    career = playercareerstats.PlayerCareerStats(player_id=player['PERSON_ID'])
    df = career.get_data_frames()[0]
    all_player_stats = pd.concat([all_player_stats, df])

# Display the combined stats
all_player_stats

Empty DataFrame
Columns: []
Index: []

In [5]:
from nba_api.stats.endpoints import playercareerstats

# Nikola Jokić
career = playercareerstats.PlayerCareerStats(player_id='203998') 

# pandas data frames
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203998,2014-15,00,1610612761,TOR,19.0,8,0,23.0,4,...,0.000,1,1,2,0,0,1,4,3,10
1,203998,2015-16,00,1610612761,TOR,20.0,6,1,43.0,1,...,0.000,1,1,2,1,2,1,4,2,3
2,203998,2016-17,00,1610612761,TOR,21.0,9,0,40.0,6,...,0.000,5,5,10,4,2,1,2,4,14
3,203998,2017-18,00,1610612761,TOR,22.0,2,0,7.0,0,...,0.000,0,1,1,1,1,0,0,1,0
4,203998,2017-18,00,1610612758,SAC,22.0,10,0,100.0,9,...,0.833,7,14,21,3,2,4,4,7,26
5,203998,2017-18,00,0,TOT,22.0,12,0,106.0,9,...,0.833,7,15,22,4,3,4,4,8,26
6,203998,2018-19,00,1610612763,MEM,23.0,34,19,800.0,96,...,0.840,42,116,158,50,14,33,38,81,282
7,203998,2019-20,00,1610612763,MEM,24.0,22,0,192.0,28,...,0.667,17,27,44,10,10,12,7,23,62
8,203998,2019-20,00,1610612745,HOU,24.0,8,0,52.0,10,...,1.000,6,10,16,2,5,5,6,8,28
9,203998,2019-20,00,0,TOT,24.0,30,0,244.0,38,...,0.889,23,37,60,12,15,17,13,31,90
10,203998,2020-21,00,1610612745,HOU,25.0,6,0,36.0,8,...,0.500,3,11,14,1,0,2,4,6,17